<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="../static/favicon.ico">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="../static/script.js"></script>
        <link rel="stylesheet" href="../static/styles.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    </head>

    <body style="color: lightslategray; background-color: azure;">
        <div id="receiptfile-container" class="">
            <h1>Upload Receipt</h1>

            <label id="receiptfile-label" for="receiptfile" class="glyphicon glyphicon-camera"></label>
            <input type="file" id="receiptfile" accept="image/*" capture>

            <div id="manual-entry-container">
                <button id="manual-entry" class="btn btn-light">Manual Entry</button>
            </div>
        </div>
        
        <div id="data-table" class="hidden">
            <h1>Receipt Data</h1>
            <div id="date-credit-card-container">
                <label id="date-label" for="date-input">Date: </label>
                <input type="date" id="date-input">

                <label id="credit-card-label" for="credit-card-input">Credit Card #:</label>
                <input type="text" pattern="[0-9] {4}" id="credit-card-input">
            </div>
            <table id="table" border="1">
            <tr>
                <th style="padding: 5px;">Item</th>
                <th style="padding: 5px;">Price</th>
                <th style="padding: 5px;">Taxed</th>
            </tr>
            </table>
            <div id="total-container">
                <label id="total-label" for="total-input">Total: </label>
                <input type="total" id="total-input">
                 (Calculated Sum: <span id="calculated-sum"></span>) [<span id="calculated-subtotal"></span> + <span id="calculated-tax"></span> tax]
            </div>

            <button id="add-row" class="btn btn-light">Add a row</button>
            <div id="upload-container">
                <button id="upload" class="btn btn-primary">Send to Google sheet</button>
            </div>
        </div>

        <div class="circle-loader hidden">
            <div class="checkmark draw"></div>
        </div>
    </body>
    <footer>
        <a href="https://docs.google.com/spreadsheets/d/1HoFZF1vn509-kzPmZmNmQOBuazFIRn_ES7bRk__pcJM/edit?usp=sharing">Link to Google Sheet</a>
    </footer>
</html>
