<!DOCTYPE html>
<html>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="../static/script.js"></script>
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <body style="color: lightslategray; background-color: azure;">
        <div id="receiptfile-container" class="">
            <h1>Upload Receipt</h1>

            <label id="receiptfile-label" for="receiptfile" class="glyphicon glyphicon-camera"></label>
            <input type="file" id="receiptfile" accept="image/*" capture>
        </div>
        
        <div id="data-table" class="hidden">
            <h1>Receipt Data</h1>
            <table id="table" border="1">
            <tr>
                <th style="padding: 5px;">Item</th>
                <th style="padding: 5px;">Price</th>
                <th style="padding: 5px;">Taxed</th>
            </tr>
            </table>

            <button id="add-row" class="btn btn-light">Add a row</button>
            <div id="upload-container">
                <button id="upload" class="btn btn-primary">Send to Google sheet</button>
            </div>
        </div>

        <div class="circle-loader hidden">
            <div class="checkmark draw"></div>
        </div>
    </body>
</html>
